<!DOCTYPE html>
{% load static %}
<html lang="en">

{% block meta %}
<title>SIREST-B09</title>
{% endblock meta %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
      <h1 class="pb-5 pt-5">Selamat datang di SIREST-B09</h1>
      {% if role == "" %}
      <div class="d-flex justify-content-center">
        <a href="#" class="button" style="width: 140px;">
            <button type="button" class="btn btn-outline-warning">Login</button>
        </a>
        <h4 style="width: 90px;"></h4>
        <a href="/register" class="button">
            <button type="button" class="btn btn-outline-warning">Register</button>
        </a>
      </div>
    {% endif %}
</body>
</html>
{% endblock content %}
