{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block content %}
  <head>
    <meta charset="UTF-8" />
    <title>Daftar Jam Operasional</title>
  </head>
  <body>
    <div class="container"  style="padding: 50px">
      <div class="row">
        <div class="my-auto d-flex justify-content-center mb-4" style="width:2000px;">
          <h3>DAFTAR JAM OPERASIONAL</h3>
        </div>
        <table class="table">
          <tr>
            <th>No</th>
            <th>Hari</th>
            <th>Jam Buka</th>
            <th>Jam Tutup</th>
            <th>Aksi</th>
          </tr>

          {% for jam in query1 %}
          <tr>
            <td> {{ forloop.counter }} </td>
            <td> {{ jam.day }} </td>
            <td> {{ jam.starthours }} </td>
            <td> {{ jam.endhours }} </td>
            <td>
                <div class="mb-3">
                  <a href='update'>
                        <button class="btn btn-outline-secondary">Ubah</button>
                  </a>
                  <br>
                  <a href='#'>
                        <button class="btn btn-outline-secondary">Hapus</button>
                  </a>
            </div>
            </td>
          </tr>
          {% endfor %}
          <!-- END SECTION -->
        </table>
      </div>
    </div>
  </body>
</html>
{% endblock content %}

