{% extends 'base.html' %}


{% load static %}
<html lang="en">

{% block meta %}
<title>SIREST-B09</title>
{% endblock meta %}

{% block content %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="flex-row justify-content-center">
        <h1>Profil Pengguna: {{current_user.fname}} {{current_user.lname}}</h1>
        
        <p><span class="font-weight-bold">Email: </span>{{current_user.email}}</p>
        <p><span class="font-weight-bold">Password: </span>{{current_user.password}}</p>
        <p><span class="font-weight-bold">Nama: </span>{{current_user.fname}} {{current_user.lname}}</p>
        <p><span class="font-weight-bold">Nomor HP: </span>{{current_user.phonenum}}</p>
        

        <p><span class="font-weight-bold">NIK: </span>{{current_user.nik}}</p>
        <p><span class="font-weight-bold">Nama Bank: </span>{{current_user.bankname}}</p>
        <p><span class="font-weight-bold">Nomor Rekening: </span>{{current_user.accountno}}</p>
        {% if current_user.rname %}
            {% include 'dashboard_resto.html' %}
        <p><span class="font-weight-bold">Promo berlangsung: </span></p>
        {% if promos %}
        <ul>
            {% for p in promos %}
            <li>{{p.promoname}}: {{p.start}} - {{p.endpromo}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% elif current_user.birthdate %}
            {% include 'dashboard_customer.html' %}
        {% elif current_user.platenum %}
            {% include 'dashboard_courier.html' %}
        {% endif %}    
        
        {% if current_user.adminid %} 
            <p><span class="font-weight-bold">Status: </span> Terverifikasi</p>
            <p><span class="font-weight-bold">Diverifikasi oleh: </span> {{admin_name}}</p>
        {% else %}
            <p><span class="font-weight-bold">Status: </span> Belum Terverifikasi</p>
        {% endif %}
        
        <p><span class="font-weight-bold">Saldo RestoPay: </span> {{current_user.restopay}}</p>
                

        <a href="{% url 'homepage' %}">[Kembali]</a>

    </div>



   
</body>
</html>
{% endblock content %}
