{% extends 'base.html' %}


{% load static %}
<html lang="en">

{% block meta %}
<title>SIREST-B09</title>
{% endblock meta %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Login Page</title>
</head>
<body>
    <div class="d-flex vh-100 flex-column justify-content-center align-items-center">
        <h1 class="mb-3">SIREST-B09</h1>
        <h2 class="mb-3">Form Login</h2>
        <form action="{% url 'login_pengguna' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email-input">E-mail:</label>
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <label for="email-input">Password:</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li class="text-red-700">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}   
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
{% endblock content %}