{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block meta %}
<title>SIREST-B09</title>
{% endblock meta %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1></h1>
    <form action="" method="POST">
      <h3>FORM PROMO {{jenis}}</h3>
  
      {% csrf_token %}
      {{ promo_form.as_p }}
      
      {% if messages %}
      <ul>
            {% for message in messages %}
                  <li class="text-red-700">{{ message }}</li>
            {% endfor %}
      </ul>
      {% endif %} 
      <button type="submit"><span>SIMPAN</span></button>
    </form>

    

</body>
</html>
{% endblock content %}