{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block meta %}
<title>SIREST-B09</title>
{% endblock meta %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="d-flex flex-column justify-content-center">
        <h1>Daftar Promo Restoran</h1>
        <a style="margin: auto;"href="{% url 'riwayat_dan_promo:tambah_promo_restoran' %}">[Tambah]</a>
        <table class="table">
            <thead>
                <th scope="col">No</th>
                <th scope="col">Nama Promosi</th>
                <th scope="col">Periode Promosi</th>
                <th scope="col">Aksi</th>
            </thead>
            <tbody>
                {% for promo in resto_promos%}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ promo.promoname }}</td>
                    <td> {{ promo.start|date:'Y-m-d H:i:s'}} s.d. {{ promo.endpromo|date:'Y-m-d H:i:s' }} </td>
                    <td>
                        <a href="/riwayat_dan_promo/detail_promo_restoran/{{promo.id}}">[Detail]</a> 
                        <br>
                        <a href="/riwayat_dan_promo/ubah_promo_restoran/{{promo.id}}">[Ubah]</a>
                        <br>
                        <a href="/riwayat_dan_promo/hapus_promo_restoran/{{promo.id}}">
                            [Hapus]
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>
    
</body>
</html>
{% endblock content %}