{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block meta %}
<title>SIREST-B09</title>
{% endblock meta %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Daftar Promosi</h1>
    <table class="table">
        <thead>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">Jenis</th>
            <th scope="col">Aksi</th>
        </thead>
        <tbody>
            {% for promo in promos%}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ promo.promoname }}</td>
                <td>{% if not promo.date %} Promo Minimum Transaksi {% else %} Promo Hari Spesial {% endif %}</td>
                <td>
                    {% if not promo.date %} 
                        <a href="/riwayat_dan_promo/promo_min_transaksi/{{promo.id}}">[Detail]</a> 
                        <br>
                        {% if request.COOKIES.user_type == 'admin' %}
                            <a href="/riwayat_dan_promo/ubah_promo_min_transaksi/{{promo.id}}">[Ubah]</a>
                        {% endif %}
                    
                    {% else %}
                        <a href="/riwayat_dan_promo/promo_hari_spesial/{{promo.id}}">[Detail]</a> 
                        <br>
                        {% if request.COOKIES.user_type == 'admin' %}
                            <a href="/riwayat_dan_promo/ubah_promo_hari_spesial/{{promo.id}}">[Ubah]</a>
                        {% endif %}
                    {% endif %}
                    <br>
                    {% if request.COOKIES.user_type == 'admin' and not promo.rname %}
                        <a href="/riwayat_dan_promo/hapus_promo/{{promo.id}}">[Hapus]</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
{% endblock content %}