{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block meta %}
<title>SIREST-B09</title>
{% endblock meta %}

{% block content %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="flex-row justify-content-center">
        <h1>Detail Promo Restoran</h1>
        <p><span class="font-weight-bold">Nama Promosi: </span> {{promo.nama_promo}}</p>
        <p><span class="font-weight-bold">Jenis Promosi: </span>{% if promo.tipe_promo == 'm' %} Promo Minimum Transaksi {% else %} Promo Hari Spesial {% endif %}</p>

        <p><span class="font-weight-bold">Diskon: </span> {{promo.diskon}}</p>
        <p><span class="font-weight-bold">Tanggal Mulai: </span>15-08-2022</p>
        <p><span class="font-weight-bold">Tanggal Berakhir: </span>20-08-2022</p>
        
        
        
        <a href="{% url 'riwayat_dan_promo:daftar_promo_restoran'%}">[Kembali]</a>
    </div>

   
</body>
</html>
{% endblock content %}