{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block meta %}
<title>SIREST-B09</title>
{% endblock meta %}

{% block content %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="flex-row justify-content-center">
        <h1>Detail Promosi</h1>
        <p><span class="font-weight-bold">Jenis Promosi: </span>{% if promo.tipe_promo == 'm' %} Promo Minimum Transaksi {% else %} Promo Hari Spesial {% endif %}</p>
        <p><span class="font-weight-bold">Nama Promosi: </span> {{promo.nama_promo}}</p>
        <p><span class="font-weight-bold">Diskon: </span> {{promo.diskon}}</p>
        {% if promo.tipe_promo == 'm' %} 
        <p><span class="font-weight-bold">Minimum Transaksi: </span> {{promo.min_transaksi}}</p>
        {% else %} 
        <p><span class="font-weight-bold">Tanggal Berlangsung: </span> {{promo.tanggal_spesial}}</p>
        {% endif %}
        
        
        <a href="{% url 'riwayat_dan_promo:daftar_promosi'%}">[Kembali]</a>
    </div>

   
</body>
</html>
{% endblock content %}