{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block meta %}
<title>SIREST-B09</title>
{% endblock meta %}

{% block content %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="flex-row justify-content-center">
        <p>Waktu Pemesanan: {{transaction.datetime}}</p>
                    
        <p>
            Nama Pelanggan: {{transaction.fname}} {{transaction.lname}} <br>
            Jalan: {{transaction.street}} <br>
            Kecamatan: {{transaction.district}} <br>
            Kota: {{transaction.city}} <br>
            Provinsi: {{transaction.province}} <br>
        </p>
    
        <p>
            Restoran: {{resto.rname}} {{resto.rbranch}} <br>
            Jalan: {{resto.street}} <br>
            Kecamatan: {{resto.district}} <br>
            Kota: {{resto.city}} <br>
            Provinsi: {{resto.province}} <br>
        </p>
    
        <p>Makanan yang dipesan:</p>
        <ul>
            {% if foods %}
                {% for food in foods %}
                    <li>{{food.foodname}} ({{food.amount}}) {% if food.note %} - {{food.note}} {% endif %} </li>
                {% endfor %}
            {% endif %}
        </li>
        </ul>
        <p>
            Total Harga Makanan: {{transaction.totalprice}} <br>
            Total Diskon: {{transaction.totaldiscount}} <br>
            Biaya Pengantaran: {{transaction.deliveryfee}} <br>
            Total Biaya: {{transaction.discountedprice }}<br>
            Jenis Pembayaran: {{pay_method.name}} <br>
        </p>
    
        <p>
            Status Pembayaran: {{pay_status.name}} <br>
            Status Pesanan: {{transaction_status.0.name}} <br>
        </p>
    
        <p>
            Kurir: {{courier.fname}} {{courier.lname}}<br>
            Plat Kendaraan: {{courier.platenum}} <br>
            Jenis Kendaraan: {{courier.vehicletype}} <br>
            Merk Kendaraan: {{courier.vehiclebrand}} <br>
    
        </p>
    
        
        <table class="table">
            <thead>
                <th scope="col">Status</th>
                <th scope="col">Waktu</th>
            </thead>
            <tbody>
                {% if transaction_status %}
                {% for ts in transaction_status %}
                <tr>
                    <td>{{ts.name}}</td>
                    <td>{{ts.datetimestatus}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    
        <a href="{% url 'riwayat_dan_promo:riwayat_transaksi'%}">[Kembali]</a>
    </div>

   
</body>
</html>
{% endblock content %}