{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block meta %}
<title>SIREST-B09</title>
{% endblock meta %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    {% if request.COOKIES.user_type == 'customer' %}
    <table class="table">
        <thead>
            <th scope="col">No</th>
            <th scope="col">Restoran</th>
            <th scope="col">Nama Kurir</th>
            <th scope="col">Waktu Pesanan Dibuat</th>
            <th scope="col">Status Pesanan</th>
            <th scope="col">Rating</th>
            <th scope="col">Aksi</th>
        </thead>
        <tbody>
            
            {% for transaction in transactions%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{transaction.rname}} {{transaction.rbranch}}</td>
                <td>{{transaction.courierfname}} {{transaction.courierlname}}</td>
                <td>{{transaction.datetime}}</td>
                <td>{{transaction.statusname}}</td>
                <td>{{transaction.rating}}</td>
                <td>
                    <a href="/riwayat_dan_promo/detail_transaksi/{{transaction.email}}/{{transaction.datetime|date:'Y-m-d'}}/{{transaction.datetime|date:'H:i:s'}}">[Detail]</a> 
                    <br>
                    {% if transaction.statusid == 'TS4' and not transaction.rating %}
                        <a href="/riwayat_dan_promo/nilai/{{transaction.email}}/{{transaction.datetime|date:'Y-m-d'}}/{{transaction.datetime|date:'H:i:s'}}">[Nilai]</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% elif request.COOKIES.user_type == 'resto' %}
    <table class="table">
        <thead>
            <th scope="col">No</th>
            <th scope="col">Nama Pelanggan</th>
            <th scope="col">Nama Kurir</th>
            <th scope="col">Waktu Pesanan Dibuat</th>
            <th scope="col">Status Pesanan</th>
            <th scope="col">Aksi</th>
        </thead>
        <tbody>
            
            {% for transaction in transactions%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{transaction.customerfname}} {{transaction.customerlname}}</td>
                <td>{{transaction.courierfname}} {{transaction.courierlname}}</td>
                <td>{{transaction.datetime}}</td>
                <td>{{transaction.statusname}}</td>
                <td>
                    <a href="/riwayat_dan_promo/detail_transaksi/{{transaction.email}}/{{transaction.datetime|date:'Y-m-d'}}/{{transaction.datetime|date:'H:i:s'}}">[Detail]</a> 


                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% elif request.COOKIES.user_type == 'courier' %}
    <table class="table">
        <thead>
            <th scope="col">No</th>
            <th scope="col">Restoran</th>
            <th scope="col">Nama Pelanggan</th>
            <th scope="col">Waktu Pesanan Dibuat</th>
            <th scope="col">Status Pesanan</th>
            <th scope="col">Aksi</th>
        </thead>
        <tbody>
            
            {% for transaction in transactions%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{transaction.rname}} {{transaction.rbranch}}</td>
                <td>{{transaction.customerfname}} {{transaction.customerlname}}</td>
                <td>{{transaction.datetime}}</td>
                <td>{{transaction.statusname}}</td>
                <td>
                    <a href="/riwayat_dan_promo/detail_transaksi/{{transaction.email}}/{{transaction.datetime|date:'Y-m-d'}}/{{transaction.datetime|date:'H:i:s'}}">[Detail]</a> 

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</body>
</html>
{% endblock content %}