{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block meta %}
<title>SIREST-B09</title>
{% endblock meta %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Form Promo Restoran</h1>
    <div class="d-flex  justify-content-center">
        <form action="" method="POST">
            {% csrf_token %}
            <label for="promo">Nama Promo</label>
            <select name="promo" id="promo">
                {% for promo in promos %}
                <option value="{{promo.id}}/{{promo.discount}}/{{promo.date|date:'Y-m-d'}}/{{promo.minimumtransactionnum}}">{{promo.promoname}}</option>
                {% endfor %}
            </select>


            <br>
            <label for="promotype" >Jenis Promo</label>
            <input name="promotype" type="text" id="promotype"  disabled=True>
    
            <br>
            <label for="discount">Diskon</label>
            <input name="discount" type="number" id="discount"  disabled=True>
            
            <br>

            <label id ="minimumtransactionnum_label" for="minimumtransactionnum">Minimum Transaksi</label>
            <input type="number" id="minimumtransactionnum" disabled=True>

            <label  id="date_label" for="tanggal_spesial" >Tanggal Spesial</label>
            <input type="date" id="date" disabled=True >

    
            <br>
            <label for="start">Tanggal Mulai</label>
            <input type="datetime-local" id="start" name="start" required>
    
            <br>
            <label for="endpromo">Tanggal Akhir</label>
            <input type="datetime-local" id="endpromo" name="endpromo" required>
            <br>
            {% if messages %}
            <ul>
                    {% for message in messages %}
                        <li class="text-red-700">{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %} 
            <button type="submit"><span>SIMPAN</span></button>
        </form>
    </div>
    

    

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#date_label').hide();
        $('#date').hide();
        $('#minimumtransactionnum_label').hide();
        $('#minimumtransactionnum').hide();

        $('#promo').change(function(){
            let promo_data = $(this).val().split("/");
            $('#discount').attr("value", promo_data[1]);
            


            if (promo_data[2]) {
                $('#promotype').attr("value", "Promo Hari Spesial");
                $('#minimumtransactionnum_label').hide();
                $('#minimumtransactionnum').hide();
                $('#date_label').show();
                $('#date').show();
                $('#date').attr("value", promo_data[2]);
            } else {
                $('#promotype').attr("value", "Promo Minimum Transaksi");
                $('#date_label').hide();
                $('#date').hide(); 
                $('#minimumtransactionnum_label').show();
                $('#minimumtransactionnum').show();
                $('#minimumtransactionnum').attr("value", promo_data[3]);
            }

        })
    })
</script>
</html>
{% endblock content %}