{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block meta %}
<title>SIREST-B09</title>
{% endblock meta %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Ubah Promo Restoran</h1>
    <div class="d-flex  justify-content-center">
        <form action="" method="POST">
            {% csrf_token %}
            <label for="promo">Nama Promo</label>
            <input name="promotype" type="text" id="promotype" value="{{resto_promo.promoname}}" disabled=True>



            <br>
            <label for="promotype" >Jenis Promo</label>
            <input name="promotype" type="text" id="promotype" value="{% if resto_promo.date %} Promo Hari Spesial {% else %} Promo Minimum Transaksi {% endif %}" disabled=True>
    
            <br>
            <label for="discount">Diskon</label>
            <input name="discount" type="number" id="discount" value="{{resto_promo.discount}}" disabled=True>
            

            <br>
            <label for="start">Tanggal Mulai</label>
            <input type="datetime-local" id="start" name="start" value="{{resto_promo.start|date:'Y-m-d H:i'}}"  required>
    
            <br>
            <label for="endpromo">Tanggal Akhir</label>
            <input type="datetime-local" id="endpromo" name="endpromo" value="{{resto_promo.endpromo|date:'Y-m-d H:i'}}" required>
            <br>
            {% if messages %}
            <ul>
                    {% for message in messages %}
                        <li class="text-red-700">{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %} 
            <button type="submit"><span>SIMPAN</span></button>
        </form>
    </div>
    

    

</body>
</html>
{% endblock content %}