{% extends 'base.html' %}

{% block meta %}
<title>Read Kategori Restoran</title>
{% endblock meta %}

{% block content %}
<h1 align="center">Daftar Bahan Makanan</h1>
<table align="center" border="5" cellpadding="10">
  <tr>
    <th>No.</th>
    <th>Nama Bahan Makanan</th>
    <th>Aksi</th>
</tr>
{% for res in query1 %}
  <tr>
    <td align="center">{{ forloop.counter }}</td>
    <td align="center">{{ res.name }}</td>
    {% if res.id in query2 %}
    <td><a href="/bahan-makanan/delete/{{ res.id }}">Hapus</a></td>
    {% endif %}
  </tr>
{% endfor %}
</table>
<br>
{% endblock content %}