{% extends 'base.html' %}

{% block meta %}
<title>Read Detail Transaksi Pemesanan Sebagai Kurir</title>
<style>
  .container {
    border: 1px solid;
    padding: 0px;
  }
  p {
    padding:1px;
    margin: 0px;
  }
  li {
    margin-left: 30px;
  }
</style>
{% endblock meta %}

{% block content %}
<div class="container">
<h1 align="center">Ringkasan Pesanan</h1>
  <div class="container">
    {% for res in query1 %}
    <p>Waktu Pemesanan: </p>
    <br>
    <p>Nama Pelanggan: {{ res.fname }} {{ res.lname }}</p>
    <p>Jalan: {{ res.street }}</p>
    <p>Kecamatan: {{ res.district }}</p>
    <p>Kota: {{ res.city }}</p>
    <p>Provinsi: {{ res.province }}</p>
    {% endfor %}
    <br>
    {% for res in query2 %}
    <p>Restoran: {{ res.rname }} {{ res.rbranch }}</p>
    <p>Jalan: {{ res.street }}</p>
    <p>Kecamatan: {{ res.district }}</p>
    <p>Kota: {{ res.city }}</p>
    <p>Provinsi: {{ res.province }}</p>
    {% endfor %}
    <br>
    <p>Makanan yang dipesan:</p>
    {% for res in query3 %}
    <li>{{ res.foodname }}({{ res.amount }}) {%if res.note is not None%} -{{ res.note }}{% endif %}</li>
    {% endfor %}
    {% for res in query1 %}
    <p>Total Harga Makanan: {{ res.totalfood }}</p>
    <p>Total Diskon: {{ res.totalfood }}</p>
    <p>Biaya Pengantaran: {{ res.deliveryfee }}</p>
    <p>Total Biaya: {{ res.totalfood }}</p>
    <p>Jenis Pembayaran: {{ res.name }}</p>
    {% endfor %}
    <br>
    {% for res in query4 %}
    <p>Status Pembayaran: {{ res.name }}</p>
    {%endfor%}
    {% for res in query6 %}
    <p>Status Pesanan: {{ res.name }}</p>
    {%endfor%}
    <br>
    {% for res in query5 %}
    <p>Kurir: </p>
    <p>Plat Kendaraan: {{ res.platenum }}</p>
    <p>Jenis Kendaraan: {{ res.vehicletype}}</p>
    <p>Merk Kendaraan: {{ res.vehiclebrand }}</p>
    {%endfor%}
    <div align="center">  
      <a href="/read-transaksi-kurir">Kembali</a>
  </div>
  </div>
</div>
{% endblock content %}