{% extends 'base.html' %}

{% block meta %}
<title>Read Transaksi Pemesanan Sebagai Kurir</title>
{% endblock meta %}

{% block content %}
<h1 align="center">Daftar Pesanan Berlangsung</h1>
<table align="center" border="5" cellpadding="10">
  <tr>
    <th>No.</th>
    <th>Restoran - Cabang</th>
    <th>Nama Pelanggan</th>
    <th>Waktu Pesanan Dibuat</th>
    <th>Status Pemesanan</th>
    <th>Aksi</th>
</tr>
{% for res in result %}
{% if res.id != "TS4" %}
  <tr>
    <td align="center">{{ forloop.counter }}</td>
    <td align="center">{{ res.rname }} {{ res.rbranch }}</td>
    <td align="center">{{ res.fname }} {{ res.lname }}</td>
    <td align="center">{{ res.datetime }}</td>
    <td align="center">{{ res.name }}</td>
    <td>{% if res.id == "TS3"%}<a href="{% url 'update_transaksi_kurir' email=res.email datetime=res.datetime %}">Selesai</a>{% endif %}
    <br>
    <a href="{% url 'read_detail_transaksi_kurir' email=res.email datetime=res.datetime %}">Detail</a></td>
  </tr>
  {% endif %}
{% endfor %}
</table>
<br>
{% endblock content %}