<ul class="navbar-nav ms-auto my-2">
    <li class="nav-item">
      <a class="nav-link me-3 ms-3" href="/">Dashboard</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle me-3 ms-3"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Restoran
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/restopay/lihat-saldo">Kategori Resto</a></li>
        <li><a class="dropdown-item" href="/restopay/add-saldo">Buat Kategori Resto</a></li>
        <li><a class="dropdown-item" href="/restopay/tarik-saldo">Kategori Makanan</a></li>
        <li><a class="dropdown-item" href="/restopay/tarik-saldo">Buat Kategori Makanan</a></li>
        <li><a class="dropdown-item" href="/restopay/tarik-saldo">Bahan Makanan</a></li>
        <li><a class="dropdown-item" href="/restopay/tarik-saldo">Buat Bahan Makanan</a></li>
        <li><a class="dropdown-item" href="/restopay/tarik-saldo">Resto dan Makanan</a></li>

      </ul>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle me-3 ms-3 mr-1"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Promo
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/jam-operasional/create">Daftar Promo</a></li>
        <li><a class="dropdown-item" href="/paket-koin/paket_koin/read">Buat Promo</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle me-3 ms-3 mr-1"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Pesanan
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/transaksi-pesanan-restoran/read">Tarif Pengiriman</a></li>
        <li><a class="dropdown-item" href="/aset">Buat Tarif Pengiriman</a></li>
      </ul>
    </li>
 
    <li class="nav-item">
      <a class="nav-link me-3 ms-3" href="{% url 'homepage' %}">[ADMIN]{{request.COOKIES.user_email}}</a>

      <a class="nav-link me-3 ms-3" href="{% url 'logout_pengguna' %}">Logout</a>


    </li>
  </ul>