<ul class="navbar-nav ms-auto my-2">
    <li class="nav-item">
      <a class="nav-link me-3 ms-3" href="{% url 'homepage' %}">Dashboard</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle me-3 ms-3"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Jam Operasional
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/jam-operasional/create">Daftar Jam Operasional</a></li>
        <li><a class="dropdown-item" href="/paket-koin/paket_koin/read">Buat Jam Operasional</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle me-3 ms-3 mr-1"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Makanan
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/paket-koin/paket_koin/read">Daftar Makanan</a></li>
          <li><a class="dropdown-item" href="/paket-koin/paket_koin/read">Buat Makanan</a></li>
  
        </ul>
      </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle me-3 ms-3 mr-1"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Pesanan
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/paket-koin/paket_koin/read">Pesanan Berlangsung</a></li>
        <li><a class="dropdown-item" href="/paket-koin/paket_koin/read">Riwayat Pesanan</a></li>

      </ul>
    </li>
    <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle me-3 ms-3 mr-1"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Promo
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/paket-koin/paket_koin/read">Daftar Promo Tersedia</a></li>
          <li><a class="dropdown-item" href="/paket-koin/paket_koin/read">Daftar Promo Restoran</a></li>
  
        </ul>
      </li>
    <li class="nav-item">
      <a
      class="nav-link me-3 ms-3" href="#"
      >
        RestoPay
      </a>
    </li>
 
    <li class="nav-item">

        <a class="nav-link me-3 ms-3" href="{% url 'homepage' %}">[RESTO]{{request.COOKIES.user_email}}</a>
        <a class="nav-link me-3 ms-3" href="{% url 'logout_pengguna' %}">Logout</a>


    </li>
  </ul>