<ul class="navbar-nav ms-auto my-2">
    <li class="nav-item">
      <a class="nav-link me-3 ms-3" href="{% url 'homepage' %}">Dashboard</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle me-3 ms-3"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Restoran
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'read_kategori_restoran' %}">Kategori Resto</a></li>
        <li><a class="dropdown-item" href="{% url 'create_kategori_resto' %}">Buat Kategori Resto</a></li>
        <li><a class="dropdown-item" href="{% url 'show_kategori_makanan' %}">Kategori Makanan</a></li>
        <li><a class="dropdown-item" href="{% url 'show_create_kategori_makanan_page'%}">Buat Kategori Makanan</a></li>
        <li><a class="dropdown-item" href="{% url 'read_bahan_makanan'%}">Bahan Makanan</a></li>
        <li><a class="dropdown-item" href="{% url 'create_bahan_makanan'%}">Buat Bahan Makanan</a></li>
        <li><a class="dropdown-item" href="{% url 'restoran:read_daftar_restoran'%}">Resto dan Makanan</a></li>

      </ul>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle me-3 ms-3 mr-1"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Promo
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'riwayat_dan_promo:daftar_promosi' %}">Daftar Promo</a></li>
        <li><a class="dropdown-item" href="{% url 'riwayat_dan_promo:buat_promo' %}">Buat Promo</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle me-3 ms-3 mr-1"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Pesanan
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'tarif_pengiriman_per_km:read'%}">Tarif Pengiriman</a></li>
        <li><a class="dropdown-item" href="{% url 'tarif_pengiriman_per_km:create'%}">Buat Tarif Pengiriman</a></li>
      </ul>
    </li>
 
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle me-3 ms-3 mr-1"
      href="#"
      id="navbarDropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      [ADMIN] {{request.COOKIES.user_email}}
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'logout_pengguna' %}">Logout</a></li>
      </ul>
      
    </li>
  </ul>