<!DOCTYPE html>
<html lang="en">

      <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>RestoPay</title>
      </head>

      <body>
            <nav class="navbar navbar-dark bg-info shadow-sm">
                  <div class="container-fluid">
                        <h2>SIREST-B09</h2>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                  </button>
                  <h4>RestoPay</h4>
                  <table class="table-bordered table-success table-striped table-sm">
                        <tr>
                              <th>Saldo:</th>
                        </tr>

                        {% for i in collections %}
                        <tr>
                              <td>{{i.saldo}}</td>
                        </tr>
                        {% endfor %}
                  </table>
                  <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                              <!-- <li class="nav-item">
                                    <a class="nav-link" href="{% url 'add_saldo' %}">ISI SALDO</a>
                              </li> -->
                              <h4 style="width: 90px;"></h4>
                              <a href="/restopay/add-saldo" class="button">
                                    <button type="button" class="btn btn-outline-warning">ISI SALDO</button>
                              </a>
                              <h4 style="width: 90px;"></h4>
                              <a href="/restopay/tarik-saldo" class="button">
                                    <button type="button" class="btn btn-outline-warning">TARIK SALDO</button>
                              </a>
                        </ul>
                  </div>
                  </div>
            </nav>
      </body>
</html>