{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block content %}
<head>
      <meta charset="UTF-8" />
      <title>Restopay</title>
</head>
<body>
      <div class="container" style="padding: 50px">
            <div class="row">
                  <div class="my-auto d-flex justify-content-center mb-4" style="width:2000px;">
                        <h3>Restopay</h3>
                  </div>
                  <br>
                  {% for pay in query1 %}
                  <div>
                        Saldo: {{ pay.restopay }}
                  </div>
                  {% endfor %}

                  <div class="mb-3">
                        <h4 style="width: 90px;"></h4>
                        <a href="/restopay/add-saldo">
                              <center><button class="btn btn-primary">ISI SALDO</button></center>
                        </a>
                        <h4 style="width: 90px;"></h4>
                        <a href="/restopay/tarik-saldo">
                              <center><button class="btn btn-primary">TARIK SALDO</button></center>
                        </a>
                  </div>
            </div>
      </div>
</body>
</html>
{% endblock content %}