{% extends 'base.html' %}

{% block meta %}
<title>Daftar Restoran</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <h3 class="text-center mb-3">DAFTAR RESTORAN</h3>
    
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama - Cabang Restoran</th>
            <th scope="col">Rating</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          {% for restaurant in restaurants %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ restaurant.rname }} - {{ restaurant.rbranch }}</td>
            <td>{{ restaurant.rating }}</td>
            <td>
                <div class='d-flex flex-column justify-content-center align-items-start'>
                    {% comment %} Parameter kedua diganti, yaitu "1" diganti item.pk {% endcomment %}
                  <form action="{% url 'restoran:read_detail_restoran' %}" method="get">
                      <input type="hidden" name="rname" value="{{ restaurant.rname }}">
                      <input type="hidden" name="rbranch" value="{{ restaurant.rbranch }}">
                      <button type="submit" class="btn-xs btn-primary">Detail</button></a>
                  </form>
                    <form action="{% url 'restoran:read_menu_restoran' %}" method="get">
                      <input type="hidden" name="rname" value="{{ restaurant.rname }}">
                      <input type="hidden" name="rbranch" value="{{ restaurant.rbranch }}">
                        <button type="submit" class="btn-xs btn-primary">Menu</button></a>
                    </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}