{% extends 'base.html' %}

{% block meta %}
<title>Lihat Detail Restoran</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <h3 class="text-center mb-3">Detail Restoran: [{{ restaurant.rname }} - {{ restaurant.rbranch }}]</h3>
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <p class="card-text"><strong>Nama restoran:</strong> {{ restaurant.rname }}</p>
                <p class="card-text"><strong>Cabang:</strong> {{ restaurant.rbranch }}</p>
                <p class="card-text"><strong>Nomor telepon:</strong> {{ restaurant.rphonenum }}</p>
                <p class="card-text"><strong>Jalan:</strong> {{ restaurant.street }}</p>
                <p class="card-text"><strong>Kecamatan:</strong> {{ restaurant.district }}</p>
                <p class="card-text"><strong>Kota:</strong> {{ restaurant.city }}</p>
                <p class="card-text"><strong>Provinsi:</strong> {{ restaurant.province }}</p>
                <p class="card-text"><strong>Rating:</strong> {{ restaurant.rating }}</p>
                <p class="card-text"><strong>Kategori Restoran:</strong> {{ restaurant.name }}</p>
                <div>
                    <span class="card-text"><strong>Jam Operasional:</strong></span>
                    <ul>
                        {% for op_hour in restaurant.operating_hours %}
                        <li>{{ op_hour.day }}, {{ op_hour.starthours }} - {{ op_hour.endhours }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <span class="card-text"><strong>Promo berlangsung:</strong></span>
                    <ul>
                        {% for promo in restaurant.promos %}
                        <li>{{ promo.promoname }}</li>
                        {% endfor %}
                    </ul>
                </div>
                
                <a href="{% url 'restoran:read_daftar_restoran' %}" class="btn btn-primary">Kembali</a>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}